# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

src/main/java/com/habjan/tweets.csv
tweet_searcher/.env
tweet_searcher/log.txt
python/count.json